<div class="card">
  <h2 class="card-header">Edit Post</h2>
  <form class="card-body" id="edit-post-form">
      <div>
      <label class="form-label">Title:</label>
      <input class="form-input" type="text" name="post-title" value="{{post.postTitle}}"/>
    </div>
    
    <div>
      <label class="form-label">Content:</label>
      <textarea class="form-textarea form-input" name="post-body" data-number="8">{{post.content}}</textarea>
    </div>

    {{#each commentAry.[0]}}
    <div>
      <label class="form-label">Comment data:</label>
      <textarea class="form-textarea form-input" name="post-body" data-number="8">{{format_date date_created}}</textarea>

      <textarea class="form-textarea form-input" name="post-body" data-number="8">{{content}}
        <br>{{user.name}}</br></textarea></textarea></textarea>
    </div>
    {{/each}}

    {{#if logged_in}}
    <button class="btn btn-primary" type="submit">EDIT</button>
    <input type="hidden" name="postId" value="{{name}}"/>
  </form>
  <div class="card-body">
   <button class="btn btn-primary" type="click" id="delete-btn">DELETE</button>
  </div> 
</div>
{{#if logged_in}}
<script src="/js/new.js"></script>
{{/if}}
