{{#if logged_in}}

<div class="row">
  <div class="col-auto">
  <h2 class = "center">Welcome {{user.name}} ! </h2>
  </div>

<br>
<div class="card flex-column">
  {{#each posts as |post|}}
  <div class="card-body">
  <a href="/post/{{post.id}}">
    <div class="card-header flex-row justify-space-between">
      <div class="col-8">Post Title: {{postTitle}}</div>
      <div class="col-4">posted by {{user.name}} on {{format_date date_created}}</div>
      <div class="col-4">Post: {{post.content}}
      </div>
    </div>  
  </a>
</div>
  {{/each}}
</div>
</br>

<div id="new-post-button">
  <a href="/new-post">+ New Post</a>
</div>

</div>

{{else}}
<a href="/login"> You must be logged in to see your dashboard </a>

{{/if}}
